<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HR Analytics App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/solid-css@1.0.0/dist/solid.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard Analitik</a></li>
            <li><a href="/predict">Prediksi Attrition</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>